<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <appSettings>
    <add key="provider" value="SQLSERVER"/>
    <add key="ip" value="192.168.0.111\sql2012"/> <!--192.168.123.29-->
    <add key="dbname" value="PTBC_CONS_DATA_PRESIT"/>
    <add key="uid" value="sa"/>
    <add key="pwd" value="dm9qmiR6uRilcjJlnNRp2A=="/>
    <add key="othersetting" value="Pooling=false"/>
    <add key="connstr_1" value="Data Source=192.168.0.111\sql2012;Initial Catalog=PTBC_CONS_DATA_KTA_PRESIT;uid=sa;pwd=dm9qmiR6uRilcjJlnNRp2A==;Pooling=false" />
    <add key="connstr_2" value="Data Source=192.168.0.111\sql2012;Initial Catalog=PTBC_CONS_DATA_PRESIT;uid=sa;pwd=dm9qmiR6uRilcjJlnNRp2A==;Pooling=false" />
    <add key="dbtimeout" value="600"/>
    <add key="dbtimeoutsms" value="300000"/>
    <add key="dbtimeoutemail" value="50000"/>
    <add key="runing_email" value="run" /> <!--run-->
    <add key="runing_sms" value="" /> <!--run-->
    <add key="ProcessCountEachJob" value="1" />
    <add key="UrlGatewaySMS" value="http://localhost:2442/PTBCSMSGateway.asmx"/>
    <add key="SchedulerTime" value="0-23" />
    <add key="SchedulerCronExpressionFormat" value="0 0/1 {0} ? * MON-SUN *" />
  </appSettings>
  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%t] %-5p %l - %m%n" />
      </layout>
    </appender>
    <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%t] %-5p %l - %m%n" />
      </layout>
    </appender>
    
    <appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="CheckingService.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <maxSizeRollBackups value="10" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d | [%t] | %-5p %l | - %m%n" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="ConsoleAppender" />
      <!-- <appender-ref ref="RBEAppender" /> -->
      <!-- uncomment to enable event log appending -->
      <!-- <appender-ref ref="EventLogAppender" /> -->
      <!-- uncomment to enable file appending -->
      <appender-ref ref="FileAppender" />
    </root>-->
  </log4net>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>